test/
tests/
coverage/
build/
prebuilds/
.nyc_output/
.circleci/
.vscode/
jsdoc/
docs/
jsdoc.json
CONTRIBUTING.md
.editorconfig
.eslintrc
.gitignore
tsconfig.json
commitlint.config.js
.vscode
.travis.yml
.env
CHANGELOG.md
*.exe
*.obj
